[2020-11-10 03:41] sno2 opened #2 "Implement Account Creation"

[2020-11-10 03:43] #2 closed

[2020-11-15 12:25] mrbusysky opened #3 "Api request: PUBLIC/PRIVATE KEY MATCH."
Currently looking for an API to match both the private key and public key.

This is a key needed feature for the chain.

[2020-11-15 12:39] mrbusysky opened #4 "Any Plans to create a public cdn?"
Looking for a trusted public CDN for app development.

[2020-11-15 12:53] sno2 commented on #4
It is currently in development.  We will release this onto npm once it is stable enough.

[2020-11-15 12:56] sno2 commented on #3
I am currently working on getting tests ready.  I will add this when I am finished.

[2020-11-17 01:28] sno2 commented on #3
Implemented

[2020-11-17 01:28] #3 closed

[2020-11-28 14:41] mrbusysky opened #6 "Any ETA on Documentation?"
Currently in the process of working on my project proposal.
It would be nice to have some decent documentation.

[2020-11-28 17:23] sno2 opened #7 "[Task] Implement `ServerNode` POST Request Method"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-11-28 17:27] sno2 commented on #6
This library needs to have payment functionality before we should start working on a documentation.

[2020-11-28 19:18] #7 closed

[2020-12-02 23:11] mrbusysky opened #9 "Implementing Browser Support with Browserify"
I'd like to see if we can get this library to work from in browser with no need for a back end.
So besides an npm backend, we could use [Browserify](https://github.com/browserify/browserif) or [Webpack](https://github.com/webpack/webpack) allowing us to decentralize projects right away giving projects the choice of backend or no backend.

webpack / webpack-visualizer-plugin - Might be a good combo

[2020-12-02 23:24] sno2 commented on #9
This is not realistic for us to handle all of the bundling.  We should include the `require` functions within our builds as npm will know what dependencies we are using and download them into the `node_modules`.  We would not only have to include this library's code into this bundle, but every single dependency (and it's dependencies and the dependencies of that one) into this js file.  You can ad

[2020-12-02 23:45] mrbusysky commented on #9
Yeah downloading it from the repo might be a good idea this is currently the method used by all chains looking to decentralize the browser. On building the repo it makes a .js or .min.js file that they can just plop in their projects then link to a server in javascript and push transactions from browser.

[2020-12-07 05:15] mrbusysky commented on #9
Added browserify https://github.com/thenewboston-developers/thenewboston-js/pull/13

[2020-12-07 22:28] #9 closed

[2020-12-08 13:38] sno2 opened #14 "[Task] Implement Update Account Method for `Bank`"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-08 13:40] AbhayAysola commented on #14
Hi, can try to complete this?

[2020-12-08 13:41] sno2 commented on #14
Sure, please don't be afraid to send a message if you are having any problems!  Thanks

[2020-12-08 13:54] sno2 commented on #9
@thenewboston-developers/payment-processor-developers Can someone please pay @MrBusySky, thank you very much!

[2020-12-08 14:08] sno2 opened #15 "[Task] Add Axios Response Generics for `ServerNode` Request Methods"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-08 20:38] sno2 opened #17 "[Task] Type Bank Get Config Response"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-08 20:45] #15 closed

[2020-12-08 23:25] #17 closed

[2020-12-08 23:41] sno2 opened #19 "[Task] Refactor Account Class Construction"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 01:42] #14 closed

[2020-12-09 15:00] sno2 opened #22 "[Task] Create `Account` Documentation"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 18:21] #19 closed

[2020-12-09 18:31] sno2 opened #24 "[Task] Create `Bank` Documentation"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 18:31] sno2 opened #25 "[Task] Create `Validator` Documentation"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 18:33] sno2 opened #26 "[Task] Create `ConfirmationValidator` Documentation"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 18:34] sno2 opened #27 "[Task] Create `PrimaryValidator` Documentation"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 18:58] sno2 opened #28 "[Task] Implement POST Update Notice Method for `Bank`"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-09 19:06] CNFloss commented on #28
I give this one a shot!

[2020-12-09 19:08] sno2 commented on #28
Great

[2020-12-09 23:40] sno2 opened #29 "[Task] Implement POST Upgrade Request for `ConfirmationValidator`"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-10 01:11] sno2 opened #30 "[Task] Implement POST Primary Validator Updated for `ConfirmationValidator`"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-10 03:22] #29 closed

[2020-12-10 03:25] sno2 commented on #29
I didn't have a TODO in my code as the docs were updated since then, so the ordering didn't matter.

[2020-12-10 15:20] #30 closed

[2020-12-10 21:49] #22 closed

[2020-12-10 23:46] #28 closed

[2020-12-10 23:55] sno2 opened #35 "[Task] Type `ConfirmationValidator.getConfig` Method Response"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-10 23:56] sno2 opened #36 "[Task] Type `PrimaryValidator.getConfig` Method Response"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-10 23:58] nishp77 commented on #35
working on it

[2020-12-11 00:08] sno2 opened #37 "[Task] Implement `Bank` POST Blocks Method"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-11 00:25] CNFloss commented on #36
I'll take this one.

[2020-12-11 00:26] nishp77 commented on #37
working on it

[2020-12-11 01:14] sno2 commented on #36
Thanks @CNFloss , just assigned it to you👍

[2020-12-11 01:15] sno2 commented on #37
Thanks, just assigned it to you 👍

[2020-12-11 01:45] #35 closed

[2020-12-11 01:48] AbhayAysola commented on #24
Can I try working on this one? I'll let you know if I run into any problems.

[2020-12-11 01:52] sno2 commented on #24
Yes, please lmk if you have any issues and I can help you write things up.  Also, if you want to create a WIP PR for each of the sections then I could review each of them as soon as I can.

[2020-12-11 01:54] sno2 commented on #24
@AbhayAysola  You can also check out the [`Account` docs](https://github.com/thenewboston-developers/thenewboston-js/blob/master/docs.md#account) I made today as a reference for the style.

[2020-12-11 02:06] AbhayAysola commented on #24
Sure! Thanks for the suggestion, will definitely do that.

[2020-12-11 02:11] #36 closed

[2020-12-11 02:20] #37 closed

[2020-12-11 02:20] CNFloss commented on #25
I'll this a try, this should be interesting.

[2020-12-11 02:23] sno2 commented on #25
Great, please don't be afraid to reply in here for any questions or help you need!  Please just put TODO along with the heading for sections that we haven't implemented yet.  Also, it would be great if you could create a WIP pull request and push for each section so we could review it bite-by-bite, but that's optional.

[2020-12-11 02:30] CNFloss commented on #25
@sno2 cool yeah I'll definitely push it up in pieces so that I can get feedback!

[2020-12-11 04:25] CNFloss commented on #25
@sno2 will the validator class eventually be abstract? I'm just curious because it's probably never going to be created and used on it's own right?  So when writing this up compared to the Account documentation I should keep in mind that I'm just explaining it's functions it gives both types of validators those use cases but explain that a base validator should/could never be created.  Or should I

[2020-12-11 04:35] sno2 commented on #25
Yeah, it should be abstract.  I was thinking that we could, however, have a section for the `Validator` for all of the methods that are the same for both validators (along with a notice that they work for both).  Then, we could have separate sections for the other validators.

[2020-12-12 05:50] #24 closed

[2020-12-12 06:25] CNFloss commented on #26
I'll take this one too since I'm about to wrap up the Validators docs.

[2020-12-12 22:52] CNFloss commented on #25
@sno2 I'm actually having trouble finding a valid block id to show the examples and expected output.  My confirmation validator hasn't had done any confirmation services so a URL with a confirmation validator that has some blocks would be cool too.

[2020-12-13 13:06] leelatanniru commented on #27
Can i work on this?

[2020-12-13 13:29] leelatanniru commented on #27
I assinged to myself. I will try to finish this PR before 21st december. Thank you.

[2020-12-14 00:09] sno2 commented on #25
Hey, sorry for not replying sooner.  I have exams and essays to finish for the final week of school 😔  Anyways, you should be able to use the [example on the endpoint for the docs here](https://thenewboston.com/primary-validator-api/confirmation-blocks).

[2020-12-14 02:34] CNFloss commented on #26
@sno2 I can start on this one now, if my others docs looked good.

[2020-12-14 02:57] sno2 commented on #26
Great, I'll assign this to you👍

[2020-12-14 02:58] sno2 commented on #25
Forgot to close as I had to relink the PR.

[2020-12-14 02:58] #25 closed

[2020-12-14 22:55] CNFloss commented on #26
@sno2 So I was messing with the sendPrimaryValidatorUpdatedPing function and I think I need to be on a test network or something to get an example of an "ok" response.   Should I just leave the code example output as a ToDo, and just explain how that function fits in the resync process?  I could set up one of each node type, which the more I think about it, I'll probably do, unless there is an eas

[2020-12-14 23:02] sno2 commented on #26
👍Yeah, that's fine.

[2020-12-21 20:40] sno2 opened #47 "[Task] Implement Bank Blocks Endpoint for Primary Validator"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-21 21:57] nishp77 commented on #47
Working on it

[2020-12-22 16:18] sno2 opened #48 "[Task] Fix Browserify Module"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-22 16:18] #48 closed

[2020-12-22 16:21] sno2 opened #49 "[Task] Clean Up Docs Typos"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-22 16:21] #49 closed

[2020-12-22 17:01] sno2 opened #51 "[Task] Create Payment Handler"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2020-12-22 19:32] #51 closed

[2020-12-23 04:38] #47 closed

[2020-12-24 09:52] AbhayAysola commented on #27
Hey, @leelatanniru are you working on this?

[2020-12-24 12:02] leelatanniru commented on #27
No @AbhayAysola

[2020-12-24 12:28] AbhayAysola commented on #27
If that's the case, @sno2 can I work on this?

[2020-12-24 16:07] sno2 commented on #27
Yes, just assigned it to you.  Thanks

[2020-12-26 08:27] AbhayAysola commented on #27
Sorry, I didn't see that till now. I will work on it. 👍🏼

[2020-12-26 09:13] AbhayAysola commented on #27
So I just looked into it, and there's only one method - `addBankBlocks`. Is this the only method I need to document?

[2020-12-26 20:58] sno2 commented on #27
Yep

[2020-12-27 06:02] #27 closed

[2021-02-15 22:58] Kycermann opened #57 "[Task] Send database synchronisable idempotent payment"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-02-20 07:40] AbhayAysola commented on #57
So instead of having one method, `sendCoins` we need to split that up into two methods, `createTransaction` and `broadcastTransaction` ?

[2021-02-20 20:06] Kycermann commented on #57
@AbhayAysola yep, this would make it so much easier for users of this library to achieve full database/blockchain consistency

[2021-02-21 04:06] AbhayAysola commented on #57
Yup, sounds pretty straightforward. Can I work on this? @Kycermann

[2021-02-21 11:20] Kycermann commented on #57
Sure

[2021-02-21 14:35] sno2 commented on #57
IMO you should have a `Transaction` class that contains the information on a single transaction (sender account key pairs, receiver account number + amount) that can be held locally, used within `PaymentHandler.sendCoins()`, and still implement the `PaymentHandler.dispatchTransaction` of such.  It matches the OOP vibe, and although it may require another import field, it makes more sense in my eye

[2021-02-22 01:50] AbhayAysola commented on #57
That makes a lot of sense, I'll work on that now.

[2021-02-22 02:21] AbhayAysola commented on #57
Should I make a new file for the `Transaction` class or do it inside the same one? @sno2

[2021-02-22 02:23] sno2 commented on #57
I'm not on the team anymore, so I dunno who's actually leading the project...

[2021-02-22 02:26] AbhayAysola commented on #57
Hmm okay, I'll just wing it then 😅

[2021-02-22 02:39] AbhayAysola commented on #57
I added that, let me know if it looks good to you. I'll ask around on Slack to see who is the lead now.

[2021-02-26 01:19] mrbusysky commented on #57
Looks good to me.

[2021-03-04 12:26] AbhayAysola opened #61 "[Task] Add "fee" Field in Transactions"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-04 15:04] zinoadidi commented on #61
looks good;
Future contributions to be made through the development branch

[2021-03-04 15:10] #61 closed

[2021-03-05 10:34] zinoadidi commented on #4
Closing this issue as the package is now on NPM
Other forms of CDN's will be considered in the future and new issue opened as deemed fit

[2021-03-05 10:34] #4 closed

[2021-03-05 10:57] Kycermann opened #65 "[Task] [Priority] Fix automatic deployments"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-05 10:58] Kycermann commented on #65
@AbhayAysola perhaps you'd like to work on this? Otherwise I'm happy to pick this up.
@zinoadidi could you assign a reward please? This is a tiny but important task.

[2021-03-05 11:04] AbhayAysola commented on #65
That's alright, you can go ahead 👍🏼

[2021-03-05 11:05] zinoadidi commented on #65
sadly already fixed this one.
There are other issues as well with the deployment process; fixing them.

But there are lot more issues, I will create some tasks soon so you guys can help

[2021-03-05 11:08] zinoadidi commented on #65
Issues with deployment fixed here #66

[2021-03-05 11:08] #65 closed

[2021-03-05 11:09] Kycermann commented on #65
@zinoadidi Thank you so much. You're actually the best <3

[2021-03-05 11:10] #57 closed

[2021-03-05 11:13] Kycermann commented on #65
@zinoadidi Ahh when I do `npm install`- there's still no `dist` folder so the module doesn't work without going inside of it and doing `npm install && npm run build`.

[2021-03-05 11:23] zinoadidi opened #68 "[Task] Create ESLint file and get existing codebase to comform to eslint rules specified"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-05 11:29] Kycermann opened #69 "[Task] Fix npm deployments (extra 2000 TNBC bounty available)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-05 11:33] Kycermann commented on #65
We ended up placing this in issue #69.

[2021-03-05 11:34] Kycermann commented on #69
If this is closed in the next 24 hours, I will personally pay an additional bounty of 2000 TNBC.

[2021-03-05 11:35] zinoadidi commented on #69
Would be nice if all issues identified that are not yet resolved concerning deployment are fixed through this issue.
Also don't forget, PR to development branch so we can have some sort of controlled deployment in future

[2021-03-05 12:08] AbhayAysola commented on #69
I was thinking we could do a releases workflow first and then do `npm publish` with the release assets. Would be simpler in the future if we are planning to add releases. If releases are not planned then we can go with the normal method. @zinoadidi @Kycermann

[2021-03-05 12:29] Kycermann commented on #69
@AbhayAysola whatever works long term is fine. I like the workflow idea. Maybe run build on GitHub actions and publish that.

[2021-03-05 12:34] AbhayAysola commented on #69
I meant using [Github Releases](https://docs.github.com/en/github/administering-a-repository/about-releases). It's up to the repo maintainer to decide whether we have Releases or not.

[2021-03-05 14:49] zinoadidi opened #72 "[Task] Investigate existing classes and tests, fix broken tests if any (npm run test command should work locally and on github actions)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-05 15:09] zinoadidi opened #73 "[Task] Investigate TNB account manager and submit a report on missing functionalities on TNB-JS that are implemented in account manager"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-05 15:12] tomijaga commented on #73
Can I work on this?

[2021-03-05 15:14] zinoadidi commented on #73
yes, assigned @tomijaga ;
One more person can still join :)

[2021-03-07 03:14] jamessspanggg commented on #68
@zinoadidi should this be closed?

[2021-03-07 06:03] Ayah206 commented on #68
May I get assigned to this task?

[2021-03-07 06:28] Ayah206 commented on #73
can I get assigned to this?

[2021-03-07 12:43] #68 closed

[2021-03-07 12:44] zinoadidi commented on #73
@Ayah206 done;
Find @tomijaga and agree how to share work or what you could do to speed up work

[2021-03-07 12:47] #69 closed

[2021-03-07 13:00] zinoadidi opened #75 "[Task] Find a not yet tested class or list of function in an already tested class that is not yet tested in thenewboston-js project (bug bounty paid per issue reported)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-07 13:30] tomijaga commented on #73
Welcome @Ayah206!

Most of the functions in the account manager repo for thenewboston network and nodes are in the [src/renderer](https://www.github.com/thenewboston-developers/Account-Manager/tree/master/src%2Frenderer) directory.

Specifically in:
`config`
`constants`
`containers`
`dispatchers`
`hooks`
`utils`

I will be working on the last 3, you can help with the top 3.

I recommend documentin

[2021-03-07 13:36] Ayah206 commented on #73
Okay, Thank you. I will start working on the specified documents right away

On Sun, 7 Mar 2021, 14:30 tomijaga, <notifications@github.com> wrote:

[2021-03-07 16:37] tomijaga commented on #73
@Ayah206 Here's the word doc
https://docs.google.com/document/d/1FaPq2stWP0lMtHATNIfLA6ryMd0PtUYdcnrvZbUk7FI/edit?usp=sharing

[2021-03-07 16:52] Ayah206 commented on #73
@tomijaga, seen. I will update my progress soon

[2021-03-08 09:51] zinoadidi commented on #26
@CNFloss whats the status of this PR?
Is it already done or something else to do here

[2021-03-10 17:12] tomijaga commented on #73
@zinoadidi what do you think of the format

[2021-03-11 14:52] zinoadidi commented on #73
Hello @tomijaga, it looks good!.
I am eager to see what comes from @Ayah206 as it seems there are not that many things left to implement based on the information i see.
To speed up the process of integrating tnb js and account manager (https://github.com/thenewboston-developers/Account-Manager/issues/585) I think once you guys finalize your work and all tests are done from our side, someone can al

[2021-03-13 01:31] tomijaga commented on #26
@zinoadidi Can i submit a PR to This since there has been no activity here for 3 months

[2021-03-13 06:45] zinoadidi commented on #26
@tomijaga there is actually a PR here https://github.com/thenewboston-developers/thenewboston-js/pull/52 Maybe something from there might be useful as we haven't heard from @CNFloss

[2021-03-13 06:48] Ayah206 commented on #73
Hello, @zinoadidi  and @tomijaga. I'm sorry, I haven't really been active on the task this past week due to my health condition. I've resumed working on it again and will update  my results as soon as I can

[2021-03-17 08:53] zinoadidi commented on #6
Some form of documentation is available https://github.com/thenewboston-developers/thenewboston-js/blob/master/docs/index.md so i am closing this issue.
If specific functionalities are not yet documented, we can open a new one

[2021-03-17 08:53] #6 closed

[2021-03-17 08:54] zinoadidi commented on #73
Hello, just checking again with you @Ayah206, how is it going now; are you having some difficulties still or things are a bit smooth

[2021-03-17 09:28] Musabii commented on #72
Can i take this one?

[2021-03-17 09:29] zinoadidi commented on #72
yes @Musabii assigned

[2021-03-18 04:07] tomijaga commented on #26
@zinoadidi The repo is still missing the payment handler Doc

[2021-03-18 06:30] zinoadidi commented on #26
@tomijaga can you make a new issue for it

[2021-03-18 08:56] Musabii commented on #72
sorry i gave it a try but i think it's way ahead of my current skills so i'll unassign myself

[2021-03-18 11:08] denistsoi commented on #72
i can try to ahve a look at this but

tried a week ago -
the issue for anyone attempting this task is that the SDK is connecting to a node and
you'll have to mock the implementation of that.

It doesn't necessarily make sense to mock the implementation via new `Bank/PrimaryValidator/ConfirmationValidator/PaymentValidator` as the

I feel that the sdk will eventually have to be updated with the `bet

[2021-03-18 13:00] Ayah206 commented on #73
Yes please, having a bit of challenge with my schedule right now. I think it will be for the best to have someone else fill in on my tasks, instaed of leaving it hanging. So sorry for the delay 😐

[2021-03-18 13:43] tomijaga commented on #73
I'll finish up the remaining tasks

[2021-03-18 17:31] tomijaga opened #80 "Create Payment Handler Docs"
# Create Payment Handler Docs

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for m

[2021-03-18 18:02] #26 closed

[2021-03-18 18:06] zinoadidi commented on #80
Hi @tomijaga you can start work on this but to be clear, I do not have visible information concerning bounties yet and how this will unfold in the coming days.

This repo may or may not get bounties in the coming week; it solely depends on the final decision that comes from tnb government

I will keep it open until there is a final decision on what happens next.

[2021-03-18 18:14] zinoadidi commented on #72
@denistsoi lets see what you can do with it; One option will be to exclude it from tests but if its possible to mock something without defeating the purpose; lets try it out

[2021-03-20 08:40] tomijaga commented on #80
Most of the methods in the `PaymentHandler` class are only used internally so i only made docs for the `AccountPaymentHandler`

[2021-03-20 09:00] tomijaga commented on #73
@zinoadidi I am done with this. I've covered all the API requests. The only addition i made was for bulk payments

[2021-03-20 09:04] tomijaga commented on #73
Once this is approved I can start switching all the **GET** request functions on the account manager to the methods on **thenewboston-js** repos

[2021-03-21 06:37] zinoadidi commented on #73
@tomijaga good job!
I am working with Justin to establish a clear roadmap going forward.
Once this is done, I will give feedback for all pending tasks.

In the meantime, can you look into this? its also needed that all classes are tested before we start switching https://github.com/thenewboston-developers/thenewboston-js/issues/75
you can prepare a document instead of creating the tasks if it's to

[2021-03-25 13:05] zinoadidi commented on #80
Hi @tomijaga, I have some clarity on how things might proceed so we can continue working for now.

[2021-03-25 13:06] #80 closed

[2021-03-25 13:10] zinoadidi commented on #73
@tomijaga I will create tasks for those missing parts to be implemented class by class;
Would you like to do those missing parts first then proceed with migrating the account manager or how do you want to proceed

[2021-03-25 13:12] zinoadidi commented on #73
At the moment there are two main blockers

- Missing tests
- Missing functionality implementation (feature, doc, test)

Once those two are out of the way; i can give a go-ahead for implementation on account manager side

[2021-03-25 17:27] tomijaga commented on #73
@zinoadidi Sure, I could do the missing parts. I just need some more information on the best way to implement them

[2021-03-25 17:28] tomijaga commented on #80
@zinoadidi is thenewboston-js moving forward as it's own project it it will be counted as part of frontend on the core team?

[2021-03-25 18:29] zinoadidi commented on #80
@tomijaga it will be as a project with slightly different conditions as our work will be closely aligned with  the chain's development.

Tasks and other activities will remain, just some added berocracy like submitting the milestones with set of tasks in them for funding approval and getting paid after the milestone is complete.

This is as much as I have gone with the discussions but things can s

[2021-03-25 20:14] tomijaga commented on #80
Thanks @zinoadidi

[2021-03-26 06:44] zinoadidi opened #83 "[Task] Bulk payments (feature | tests | docs)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-28 16:00] #83 closed

[2021-03-28 16:08] zinoadidi opened #84 "[Task] Gets the PV set for a bank (feature | tests | docs)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-28 16:14] AbhayAysola commented on #84
Can I work on this?

[2021-03-28 16:21] zinoadidi commented on #84
Yes, thanks

[2021-03-28 16:32] zinoadidi opened #85 "[Task] Implement `craw` functionality (feature | tests | docs)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-28 16:44] zinoadidi opened #86 "[Task] Remove disconnected nodes functionality (feature | tests | docs)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-28 16:49] zinoadidi opened #87 "[Task] Get transaction fee from node (feature | tests | docs)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-28 19:29] zinoadidi commented on #73
tasks have been created for all identified functionalities.

[2021-03-28 19:29] #73 closed

[2021-03-28 19:39] tomijaga commented on #85
I'll work on this @zinoadidi

[2021-03-28 20:08] zinoadidi opened #88 "[Task] Implement support for Memo in transactions"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-29 02:10] AbhayAysola commented on #88
I'd like to work on this @zinoadidi

[2021-03-29 02:13] AbhayAysola commented on #87
Can I work on this? @zinoadidi

[2021-03-29 05:34] zinoadidi opened #90 "[Task] Test bank class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-29 05:39] AbhayAysola commented on #90
I'd like to work on this :)

[2021-03-29 06:15] zinoadidi commented on #84
@tomijaga can you look at the PR attached to this when you have time, thanks

[2021-03-29 06:22] AbhayAysola commented on #87
@zinoadidi Should I implement this on the `ServerNode` class or both `PrimaryValidator` and `Bank`. I'm guessing it would be better  on `PrimaryValidator` and `Bank` since even the `ConfirmationValidator` would inherit the method if I do it on the `ServerNode` class.

[2021-03-29 06:34] zinoadidi commented on #87
PrimaryValidator and Bank would be the safe option here;
then it aligns as well with the account manager somewhat

[2021-03-29 07:17] tomijaga commented on #86
I'll take this too. This has the same lvl of difficulty as the crawl function

[2021-03-29 07:31] zinoadidi commented on #86
@tomijaga can you help review #89
I have impression docs are autogenerated using JS Docs;
also is this the implementation we are expecting for this situation, I was of the opinion we want to get the info a better way?

[2021-03-29 07:52] tomijaga commented on #86
I dont think the docs are auto generated.
What PR are you referring to?
Are we meant to document all the functions or just the ones that will be directly accessed by users?

[2021-03-29 07:54] tomijaga commented on #86
@zinoadidi

I was thinking that `getBankPV()` would return the `PrimaryValidator` with the url set to the url of the bank's pv.

[2021-03-29 08:02] zinoadidi commented on #86
OK, now i know to be on the lookout for public docs as well;
would be nice if we could autogenerate them somehow from the comments in code as opposed to doing it twice for public methods

 I do agree that we do not need in the public doc information about methods and classes which are not used for public interfaces. comment on top of method is sufficient

[2021-03-29 08:59] #84 closed

[2021-03-29 09:23] zinoadidi opened #93 "[Task] Create Primary Validator tests"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-29 09:27] #87 closed

[2021-03-29 13:20] tomijaga opened #95 "Update SignedMessage (Prereq for crawl and clean)"
#  Update SignedMessage (Prereq for crawl and clean)

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks fro

[2021-03-29 13:23] tomijaga commented on #95
prerequisite for #91

[2021-03-29 18:51] #85 closed

[2021-03-29 18:51] #95 closed

[2021-03-30 06:50] #90 closed

[2021-03-30 08:03] zinoadidi opened #98 "[Task] generateAccount function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-30 08:04] zinoadidi opened #99 "[Task] createBlock function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-30 08:05] zinoadidi opened #100 "[Task] generateSignature in account manager uses SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-30 09:15] zinoadidi opened #101 "[Task] generateSignedMessage function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-30 09:17] zinoadidi opened #102 "[Task] getKeyPairDetails feature in account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-30 11:08] AbhayAysola commented on #98
We can generate an account by just using `new tnb.Account()`

[2021-03-30 15:49] tomijaga commented on #98
Shouldn't this be in the Account Manager Repo?

[2021-03-30 16:42] zinoadidi commented on #98
@tomijaga to be honest i want to have them here for better management of the tasks;
All tasks that are created here are just to help guild the process as I have agreed with Justin to take charge of the integration process.
All small tasks here will be connected to the main task in the account manager repo https://github.com/thenewboston-developers/Account-Manager/issues/585 and will not generate a

[2021-03-30 16:50] tomijaga commented on #98
Yh this makes sense

[2021-03-31 02:26] AbhayAysola opened #104 "[Task] Complete Bank Tests"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-31 11:33] AbhayAysola opened #105 "[Task] Tests for Clean behaviour"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-03-31 12:06] AbhayAysola commented on #93
@zinoadidi I think this can be closed.

[2021-03-31 12:07] #93 closed

[2021-03-31 13:46] #104 closed

[2021-03-31 22:47] tomijaga opened #107 "Add sendConfirmationBlocks( ) to Bank and CV"
# Add sendConfirmationBlocks( ) to Bank and CV

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from bein

[2021-03-31 22:47] tomijaga commented on #107
I'll work on this.

[2021-04-01 14:14] #105 closed

[2021-04-01 14:23] zinoadidi commented on #98
@tomijaga i will work on publishing a new version to npm;
Justin already made a dedicated branch for you to work from in the account manager repo.
Basically, we are ready when you are :)
Also, two new contributors will join our SDK team, let me know if you need some sort of assistance and we can work out something

[2021-04-01 14:27] tomijaga commented on #98
@zinoadidi I'm ready. Can start working on it now.

[2021-04-01 16:34] zinoadidi commented on #98
@tomijaga it's published. update me how it goes, what problems you face, etc

[2021-04-01 21:30] tomijaga commented on #98
@zinoadidi Done with the account functions. Need to get the code reviewed and merge before i can move on to the next class

[2021-04-01 21:34] zinoadidi commented on #98
All merge can go to the branch created for this integration task, let's get any one who is active on account manager repo to look at it and merge after.

I would say once all work relating to account section is done, then we can look at getting Justin involve and see how we can get the updates to development branch.

So we just do it batch by batch basically

[2021-04-01 21:41] zinoadidi commented on #98
@tomijaga i looked at PR, seems you have done already all account-related things. Good job!

I guess we wait for Justin, not sure he will give us write access but i will leave a comment as well.

Will create the next set of tasks

[2021-04-01 21:50] tomijaga commented on #98
Yh I hope he gives us access. It will make it faster. I can just push the changes and have him review when it's all done

[2021-04-01 21:54] zinoadidi opened #111 "[Task] useAddress in Account Manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 21:56] zinoadidi opened #112 "[Task] fetchValidatorConfig function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 21:57] zinoadidi opened #113 "[Task] sendBlocks function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 22:00] zinoadidi opened #114 "handleValidatorConfirmationServices function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 22:02] zinoadidi opened #115 "[Task] fetchBankAccounts function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 22:03] zinoadidi opened #116 "[Task] fetchBankBankTransactions function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 22:03] zinoadidi opened #117 "[Task] fetchBankValidators function in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 22:05] zinoadidi commented on #98
Tasks are now created;
will add some more tomorrow

you can filter issues / tasks relating to this project with `is:open is:issue project:thenewboston-developers/thenewboston-js/4 `

[2021-04-01 22:07] tomijaga commented on #98
@zinoadidi I also found some functions that are missing from the sdk:
- getSingleBank
- getSingleValidator
- getSingleAccount
- updateValidatorTrust

I will create tasks for them

[2021-04-01 22:32] tomijaga opened #118 "Add update Trust methods for Bank and Validator (feat, tests, docs)"
# Add update Trust methods for Bank and Validator

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from b

[2021-04-01 23:25] tomijaga opened #121 "Get single nodes from bank and validator class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-01 23:26] tomijaga commented on #121
Will complete this once this is merged https://github.com/thenewboston-developers/thenewboston-js/pull/120

[2021-04-02 06:05] sisco0 commented on #121
Hello @tomijaga. Should these methods return the first result in the pagination `results` array, or should a query be accomplished using `account_number`, `node_identifier` or any other field for filtering and getting the first result?

[2021-04-02 06:17] tomijaga commented on #121
@sisco0 The API uses a `node_identifier` param to get a single node
You can view the documentation here: https://thenewboston.com/bank-api/validators

Edit: I removed the getAccount method because the Api doesn't support it

[2021-04-02 09:03] #118 closed

[2021-04-02 14:00] zinoadidi opened #122 "[Task] Documentation link in readme should be full url to github"
**Describe the bug**

when package is deployed to npm (https://www.npmjs.com/package/thenewboston), under documentation section, if the user clicks the link to documentation, it takes them to a page that doesn't exist

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/30411401/113421750-4d0d5000-93d4-11eb-803e-2eec4b31404e.png)
![image](https://us

[2021-04-02 14:11] Samueloyeks commented on #122
I will work on this

[2021-04-02 16:23] zinoadidi opened #123 "[Task] Restructure Readme File, Move contribution guide to new MD file"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-02 17:06] zinoadidi opened #124 "[Task] Restructure Readme File, Add useful stats as icons (code coverage, npm version number, etc)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-02 17:14] Samueloyeks commented on #123
I will work on this

[2021-04-02 17:15] Samueloyeks commented on #124
I will work on this

[2021-04-03 06:50] zinoadidi opened #126 "[Task] Investigate tests and identify possible features that can be as endpoints / part of the API (POC)"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-03 06:55] #121 closed

[2021-04-03 06:58] zinoadidi commented on #107
@tomijaga this closes as well?

[2021-04-03 13:51] dmugtasimov commented on #126
@zinoadidi Please, be aware that the API will be ready after this task is completed: https://github.com/thenewboston-developers/thenewboston-node/issues/29

[2021-04-03 14:15] zinoadidi commented on #126
@dmugtasimov, the Plan is to keep the sdk development in sync so that BETA features are available as soon as they are ready on node

That's why I wrote earlier asking about documentation.

It would be nice if rhe apis are made as features are completed rather than at the end of the whole thing so we can follow as well and make corrections were necessary.

In a nut shell we are not interested in cr

[2021-04-03 16:26] zinoadidi commented on #88
@AbhayAysola  any update /  clue with this task yet?
Did you find the person working on it

[2021-04-03 16:33] AbhayAysola commented on #88
Couldn't find any info, I asked on Discord as well

[2021-04-03 18:58] #107 closed

[2021-04-03 19:11] tomijaga commented on #107
@zinoadidi Yh this should be closed.
The bounty should be counted as research and not for a PR

[2021-04-04 12:34] #123 closed

[2021-04-04 12:35] #122 closed

[2021-04-04 14:10] #124 closed

[2021-04-04 14:42] zinoadidi opened #132 "[Task] Add templates for pull requests"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-04 14:46] Samueloyeks commented on #132
I will work on this

[2021-04-05 18:11] mrbusysky commented on #126
Maybe It's time to make a branch called beta.

[2021-04-05 18:56] zinoadidi commented on #126
yea @mrbusysky the branch comes sooner;
I just need a concrete task that will go into it + I want all changes that come from Account manager integration to be done before switching focus/attention

[2021-04-06 07:50] zinoadidi commented on #98
@tomijaga it gets even better now;
So i will close all linked tasks as resolved, lets look towards the next steps;
Will try to download the version containing the changes you made and test it in my free time

[2021-04-06 07:54] zinoadidi commented on #102
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 07:54] #102 closed

[2021-04-06 07:55] zinoadidi commented on #101
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 07:55] #101 closed

[2021-04-06 07:55] zinoadidi commented on #100
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 07:55] #100 closed

[2021-04-06 07:55] zinoadidi commented on #99
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 07:55] zinoadidi commented on #98
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 07:55] #98 closed

[2021-04-06 07:56] #99 closed

[2021-04-06 07:58] zinoadidi commented on #99
https://github.com/thenewboston-developers/Account-Manager/pull/609

[2021-04-06 08:43] dras51 commented on #75
I will work on this

[2021-04-07 10:38] dras51 commented on #72
I believe this issue has been fixed and should be closed. ran tests locally and they all passed. [HERE](https://github.com/thenewboston-developers/thenewboston-js/runs/2250163517?check_suite_focus=true) is a link that shows the last github action that shows the tests are passing.

[2021-04-07 11:03] zinoadidi commented on #72
Task investigated by @dras51 and investigation results are provided

[2021-04-07 11:03] #72 closed

[2021-04-07 18:16] tomijaga commented on #126
I'll work on this

[2021-04-07 18:20] tomijaga commented on #72
I think @AbhayAysola was the one that fixed and added most of the tests.

[2021-04-07 18:38] zinoadidi commented on #72
@tomijaga thanks for clarifying. I was also a bit confused when the results came back and were positive :)

[2021-04-07 18:41] zinoadidi commented on #117
@tomijaga these tasks from the next milestone can now be implemented;
My target is if we can get all the account manager things sorted this month, and all other things what might be missing implemented, we can focus on beta actually from next month fully

[2021-04-07 19:46] tomijaga commented on #117
Okay I will probably be done with this in a week or so

[2021-04-09 13:26] tomijaga opened #134 "Wrong CV Config Response"
**Describe the bug**
The Confirmation Validator Config Response is wrong

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/thenewboston-developers/thenewboston-js/blob/master/src/models/responses/confirmation-validator/config.ts

**Expected behavior**
[code]

** Pull Requests **
All Pull Request should be made against development branch read contributors guide for more informat

[2021-04-09 13:44] #134 closed

[2021-04-10 09:40] zinoadidi commented on #75
@dras51 any updates about this?

[2021-04-10 22:57] zinoadidi commented on #88
@AbhayAysola here is the implementation https://github.com/thenewboston-developers/Account-Manager/pull/615

[2021-04-10 23:25] denistsoi opened #139 "[Task] Scope npm package to @thenewboston/sdk"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-11 19:27] stweyel commented on #139
if that's just a renaming issue i could do that...

[2021-04-12 09:04] #88 closed

[2021-04-12 09:58] zinoadidi commented on #113
fixed by https://github.com/thenewboston-developers/Account-Manager/pull/616

[2021-04-12 09:59] #113 closed

[2021-04-12 09:59] zinoadidi commented on #114
fixed by https://github.com/thenewboston-developers/Account-Manager/pull/616#issuecomment-817668802

[2021-04-12 09:59] #114 closed

[2021-04-12 11:00] zinoadidi opened #142 "[Task] Rest of Bank functionality in account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-12 11:02] tomijaga commented on #142
@zinoadidi I've added all of these methods

[2021-04-12 11:02] zinoadidi opened #143 "[Task] Validator in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-12 11:05] zinoadidi commented on #142
@tomijaga for the sake of bureaucracy :)
Lets tag the respective PR so i can get Justin to review / close the tasks from this side

[2021-04-12 11:09] zinoadidi opened #144 "[Task] Confirmation - Validator in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-12 11:09] zinoadidi opened #145 "[Task] Payment-Handler in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-12 11:14] zinoadidi opened #146 "[Task] Confirmation Validator in Account manager uses JS SDK"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-12 11:15] zinoadidi commented on #142
closed by https://github.com/thenewboston-developers/Account-Manager/pull/610

[2021-04-12 11:15] #142 closed

[2021-04-12 11:16] zinoadidi commented on #144
closed by https://github.com/thenewboston-developers/Account-Manager/pull/614

[2021-04-12 11:16] #144 closed

[2021-04-12 11:17] zinoadidi commented on #145
closed by https://github.com/thenewboston-developers/Account-Manager/pull/616

[2021-04-12 11:17] #145 closed

[2021-04-12 11:19] zinoadidi commented on #117
closed by https://github.com/thenewboston-developers/Account-Manager/pull/610

[2021-04-12 11:19] #117 closed

[2021-04-12 11:19] zinoadidi commented on #116
closed by https://github.com/thenewboston-developers/Account-Manager/pull/610

[2021-04-12 11:19] #116 closed

[2021-04-12 11:20] zinoadidi commented on #115
closed by https://github.com/thenewboston-developers/Account-Manager/pull/610

[2021-04-12 11:20] #115 closed

[2021-04-12 11:20] zinoadidi commented on #112
closed by https://github.com/thenewboston-developers/Account-Manager/pull/614

[2021-04-12 11:20] #112 closed

[2021-04-12 11:20] tomijaga commented on #146
This method was not used in the account manager. My bad for adding it to the docs

[2021-04-12 11:20] zinoadidi commented on #143
closed by https://github.com/thenewboston-developers/Account-Manager/pull/614

[2021-04-12 11:20] #143 closed

[2021-04-12 11:21] zinoadidi commented on #146
not implimented

[2021-04-12 11:21] #146 closed

[2021-04-12 11:21] zinoadidi commented on #111
@tomijaga how about this one

[2021-04-12 11:24] zinoadidi commented on #111
@tomijaga can you make a PR from the sdk branch to master and tag justin / me on it;
don't want to claim your fixes :)

[2021-04-12 11:26] tomijaga commented on #111
Sure I will do that in a bit

[2021-04-12 11:27] tomijaga commented on #111
This was also an error. It had nothing to do with the api.

[2021-04-12 11:28] zinoadidi commented on #111
not implemented

[2021-04-12 11:28] #111 closed

[2021-04-13 04:53] AbhayAysola opened #148 "minified file not in releases"
**Describe the bug**
The minified `tnb.min.js` file is not included in the releases.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/thenewboston-developers/thenewboston-js/releases
4. See that the min file is not included in the assets

**Expected behavior**
I expected the min file to be included.

** Pull Requests **
All Pull Request should be made against developm

[2021-04-13 13:29] zinoadidi commented on #148
do we want to include minified file or release only minified file @AbhayAysola

[2021-04-13 13:31] zinoadidi commented on #139
@angle943 what do you think about the naming convention

[2021-04-13 13:35] AbhayAysola commented on #148
I think we should include the minified file. A seperate release might be too confusing for new developers

[2021-04-13 13:41] zinoadidi commented on #148
This brings us to a wider topic as at the moment github released are created manually not part of the existing automated actions that publish the npm version

For this to be added without having to do manually 1 additional step, we need to automate github release process so it builds / minifies project then create the release along with changelog and etc

[2021-04-13 13:49] AbhayAysola commented on #148
Hmm that could be done, I'll close this issue in favour of automating releases in the future.

[2021-04-13 14:02] zinoadidi commented on #148
I think we csn keep it open and link it to the automation task when it will be opened

[2021-04-14 03:42] denistsoi commented on #139
I'm just looking at how Sentry names its client side libraries (across different platforms).

https://docs.sentry.io/platforms/javascript/

- React Native: `@sentry/react-native`,
- Node: `@sentry/node`
- Client: `@sentry/browser`

[2021-04-14 08:15] #132 closed

[2021-04-19 19:17] dmugtasimov commented on #126
subscribe to this task https://github.com/thenewboston-developers/thenewboston-node/issues/29 . the description may be useful

[2021-04-20 07:54] dras51 opened #150 "Tests times out due to connection to external APIs"
**Payment Handler test fails due to some sort of connection to an external API not returning a response before the test times out**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

this is a sneaky bug and so it doesn't happen all the time, except if the connection to the external API is slow, how ever you can confirm that the test isn't runni

[2021-04-20 20:19] sno2 opened #151 "[Bug] `Account.isValidPair` throwing errors on invalid seed lengths and seed chars"
**Describe the bug**
`Account.isValidPair` static method is throwing errors on invalid keys (i.e. bad length, invalid hex chars).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project
2. Go to `tests/account.test.js`
3. Add the following line of code in the test labeled "isValidPair(signingKey, accountNumber)":
[code]
4. Run `npm test`
5. The following error happens:
[code]

**Ex

[2021-04-20 20:24] sno2 commented on #151
I've got this.

[2021-04-22 00:43] angle943 commented on #139
@denistsoi @zinoadidi yeah i agree, we should rename this. tagging @buckyroberts

[2021-04-22 13:36] denistsoi commented on #139
Perhaps
`@thenewboston/client`/ `@thenewboston/browser` - that way you can separate between

npm supports TS/JS - however, i dont suspect us using something like WASM to be deployed via npm (tho a possibility)

`@thenewboston/node`
`@thenewboston/ui`

[2021-04-22 15:44] #151 closed

[2021-04-23 07:10] dras51 opened #153 "[Task] Test for AccountPaymentHandler Class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-23 07:12] dras51 commented on #75
#153

[2021-04-23 07:18] dras51 commented on #153
#75

[2021-04-23 17:01] dras51 opened #154 "[Task] Test for ConfirmationValidator class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-23 17:04] dras51 commented on #154
#75

[2021-04-23 17:13] dras51 opened #155 "[Task] Test for ServerNode class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-23 17:26] dras51 opened #156 "[Task] Test for Validator class"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-23 17:26] dras51 commented on #156
#75

[2021-04-23 17:27] dras51 commented on #155
#75

[2021-04-26 00:39] tomijaga commented on #139
I like `@thenewboston/js-sdk`

[2021-04-29 04:03] tomijaga opened #158 "[Task] Change types with multiple values to enum"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-04-29 04:24] tomijaga commented on #155
I don't think we need seperate tests for this and #156 because they are private classes that users will not interact with. Instead i added the tests for this and #156 to confirmation validator test pr: #159

[2021-04-29 07:27] #158 closed

[2021-04-29 07:50] tomijaga commented on #126
https://docs.google.com/document/d/1r_Zd5jOdS2teXQwuKYtDpkPOnr99jOFYbzKIPxAPdGs/edit

[2021-04-29 07:50] #154 closed

[2021-04-29 07:50] #155 closed

[2021-04-29 07:50] #156 closed

[2021-05-13 11:29] zinoadidi commented on #139
@buckyroberts awaiting input from you :)

[2021-05-20 04:30] buckyroberts opened #163 "Verify signature function (code | test | docs)"
Create a function to verify a signature when given a message, signature, and account number. It will be the same logic as this function, just in JS instead of Python.

https://github.com/thenewboston-developers/thenewboston-python/blob/development/src/thenewboston/blocks/signatures.py#L10

[2021-05-20 05:17] tomijaga commented on #163
I'll work on this

[2021-05-20 05:18] tomijaga commented on #163
We can have the verify function as a static method for the `Account` class

[2021-05-20 05:59] zinoadidi commented on #163
@tomijaga assigned

[2021-05-20 07:35] tomijaga commented on #163
@zinoadid I submitted a PR

[2021-05-21 08:21] #163 closed

[2021-05-21 15:53] buckyroberts commented on #139
`@thenewboston/js-sdk` seems fine to me

[2021-05-21 23:36] angle943 commented on #139
i'm down actually for @thenewboston/js-sdk

[2021-05-30 12:58] zinoadidi commented on #73
@tomijaga  kindly comment account number below

[2021-05-30 14:15] tomijaga commented on #73
@zinoadidi
8de30226230c35bbc1ce4a63c62a7b9c86bf0ce21fc7bc1a984b7884a9f88782

[2021-05-30 19:37] zinoadidi commented on #132
@Samueloyeks your tnbc account number

[2021-05-31 00:24] ma2b0043 commented on #153
@zinoadidi from on we'll be changing rewards from `time-based` to `coin-based`

[2021-06-05 18:36] #75 closed

[2021-06-11 15:04] denistsoi opened #167 "[Task] Update docs to include Account Payment Handler"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov

[2021-06-12 03:32] AbhayAysola opened #169 "Bulk Transactions returning server 500 error"
**Describe the bug**
Using the `AccountPaymentHandler` class method `bulkTransactions` returns a 500 server error.

**Expected behavior**
It should be a valid transaction

** Pull Requests **
All Pull Request should be made against development branch read contributors guide for more information about contributing

[2021-06-12 18:59] #167 closed

[2021-06-12 19:13] #169 closed

[2021-06-21 12:00] avinashupadhya99 opened #172 "[Task] Missing Account Payment Handler docs on the website"
# Task

Contributors are able to complete this task and earn thenewboston coins.  Check out the labels to learn how much you can earn for contributing by completing this task.  Please make sure to be honest if you wish to contribute by saying you can't finish this and we can just un-assign you with no harm done!  There is no point in delaying tasks from being completed for miscommunication!

## Ov